:root {
    --red-color: hsl(0, 78%, 62%);
    --cyan-color: hsl(180, 62%, 55%);
    --orange-color: hsl(34, 97%, 64%);
    --blue-color: hsl(212, 86%, 64%);
    --grey-color1: hsl(234, 12%, 34%);
    --grey-color2: hsl(212, 6%, 44%);
    --white-color: hsl(0, 0%, 100%);
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--white-color);
    color: var(--grey-color1);
    display: flex;
    justify-content: center;
    padding: 50px 24px;
}

#hero {
    text-align: center;
}

#hero h1, #hero h2 {
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.25px;
    margin: 0;
}

#hero h1 {
    font-weight: 200;
}

#hero h2 {
    font-weight: 600;
}

#hero p {
    line-height: 140%;
}

#card-container {
    margin-top: 60px;
    display: grid;
    row-gap: 30px;
    justify-content: center;
}

.card {
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    max-width: 310px;
    padding: 32px;
}

.card h2 {
    margin: 0;
    font-size: 20px;
    line-height: 135%;
    font-weight: 600;
}

.card p {
    font-size: 13px;
    line-height: 160%;
    color: var(--grey-color2);
    margin: 6px 0;
}

#supervisor {
    border-top: var(--cyan-color) 4px solid;
}

#team-builder {
    border-top: var(--red-color) 4px solid;
}

#karma {
    border-top: var(--orange-color) 4px solid;
}

#calculator {
    border-top: var(--blue-color) 4px solid;
}