:root {
    --red-color: hsl(0, 78%, 62%);
    --cyan-color: hsl(180, 62%, 55%);
    --orange-color: hsl(34, 97%, 64%);
    --blue-color: hsl(212, 86%, 64%);
    --grey-color1: hsl(234, 12%, 34%);
    --grey-color2: hsl(212, 6%, 44%);
    --white-color: hsl(0, 0%, 100%);
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--white-color);
    color: var(--grey-color1);
    display: flex;
    justify-content: center;
    padding: 50px 24px;
}

#hero {
    text-align: center;
}

#hero h1, #hero h2 {
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.25px;
    margin: 0;
}

#hero h1 {
    font-weight: 200;
}

#hero h2 {
    font-weight: 600;
}

#hero p {
    line-height: 140%;
}